header{
    background-color: rgb(255, 231, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    border-bottom: 1px solid rgb(112, 112, 112);
    color:black;
}
header-shadow{
    background-color: rgba(7, 7, 7, 0.8);
    position: absolute;
    top: 81px;
    left: 0px;
    right: 0px;
    height: 3px;
}
header > a > img.logo{
    margin-left: 15px;
    margin-top: 20px;
    height: 40px;
}
header > img.avatar{
    float: right;
    margin-right: 1.5vw;
    margin-top: 10px;
    height: 60px;
    border-radius: 30px;
    display: none;
}
header > div.buttons{
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    height: 60px;
    border-radius: 30px;
    display: inline;
}
header > div.buttons > input.log, header > div.buttons > input.sign{
    background-color: rgb(28, 29, 29);
    color: rgb(241, 255, 40);
    height: 45px;
    width: 90px;
    border-radius: 20px;
}
header > div.buttons > input.log{
    margin-right: 10px;
}
header > div.acc_panel{
    position: absolute;
    right: 1.5vw;
    top: 75px;
    background-color: rgb(250, 235, 215);
    height: 102px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    display: none;
}
header > div.acc_panel > input{
    background: none;
    border: 0;
    height: 35px;
    width: 100px;
}
header > div.acc_panel > input.with_bottom_border{
    border-bottom: 1px solid black;
}


.loginer, .registrator{
    --panel-width: 500px;
    display: none;
}
.loginer > button, .registrator > button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: rgba(37, 37, 37, 0.5);
}
.loginer > div, .registrator > div{
    position: absolute;
    color: black;
    top: 100px;
    left: calc(50vw - var(--panel-width)/2);
    width: var(--panel-width);    
    background-color: antiquewhite;
    border-radius: 15px;

}
.loginer > div > h2, .registrator > div > h2{
    margin-top: 8px;
    height: 35px;
    text-align: center; 
    border-bottom: 1px solid rgba(29, 29, 29, 0.4);
}
.field_name{
    margin-left: 26px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.field{
    margin-left: 20px;
    width: calc(var(--panel-width) - 45px);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(29, 29, 29, 0.4);
    border-radius: 5px;
}
.registrator > div > button{
    margin-left: 20px;
    font-size: medium;
    font-weight: bold;
    width: 191px;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(29, 29, 29, 0.4);
    border-radius: 5px;
}
.field_name > note{
    font-weight: normal;
    font-size: small;
}
.get_code{
    margin-left: 20px;
    margin-top: 10px;
    font-size: smaller;
    font-weight: bold;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(29, 29, 29, 0.4);
    border-radius: 5px;

}
.final_button{
    font-size: larger;
    width: 300px;
    margin-left: calc(var(--panel-width) / 2 - 150px);
    font-weight: bold;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(29, 29, 29, 0.4);
    border-radius: 5px;
}
.telegram_sign_up, .email_sign_up{
    display: none;
}
/* .registrator,.telegram_sign_up{

    display: inline;
} */