header{
    background-color: rgb(255, 231, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    border-bottom: 1px solid rgb(112, 112, 112);
}
header-shadow{
    background-color: rgba(120, 124, 124, 0.671);
    position: absolute;
    top: 81px;
    left: 0px;
    right: 0px;
    height: 2px;
}
header > img{
    margin-left: 25px;
}
	