.loginer{
    --panel-width: 500px;
    display: none;
}
.registrator{
    --panel-width: 500px;
    display: none;
}
.loginer > button, .registrator > button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: rgba(37, 37, 37, 0.5);
}
.loginer > div, .registrator > div{
    position: absolute;
    color: rgb(241, 255, 40);
    top: 100px;
    left: calc(50vw - var(--panel-width)/2);
    width: var(--panel-width);    
    background-color: rgb(46, 46, 46);
    border-radius: 15px;

}
.loginer > div > h2, .registrator > div > h2{
    margin-top: 8px;
    height: 35px;
    text-align: center; 
    border-bottom: 1px solid rgba(29, 29, 29, 0.4);
}
.field_name > err{
    margin-left: 10px;
    color: rgba(255, 31, 11, 0.8);
    font-size: small;
    font-weight: normal;

}
.field_name{
    margin-left: 26px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.field{
    margin-left: 20px;
    width: calc(var(--panel-width) - 45px);
    background-color: rgb(63, 63, 63);
    color: rgb(241, 255, 40);
    border: 1px solid rgb(241, 255, 40, 0.4);
    border-radius: 5px;
}
.registrator > div > button{
    margin-left: 20px;
    font-size: medium;
    font-weight: bold;
    width: 191px;
    background-color: rgb(63, 63, 63);
    color: rgb(241, 255, 40);
    border: 1px solid rgb(241, 255, 40, 0.7);
    border-radius: 5px;
}
.field_name > note{
    font-weight: normal;
    font-size: small;
}
.get_code{
    margin-left: 20px;
    margin-top: 10px;
    font-size: smaller;
    font-weight: bold;
    background-color: rgb(63, 63, 63);
    color: rgb(241, 255, 40);
    border: 1px solid rgb(241, 255, 40, 0.7);
    border-radius: 5px;

}
.final_button{
    font-size: larger;
    width: 300px;
    margin-left: calc(var(--panel-width) / 2 - 150px);
    font-weight: bold;
    background-color: rgb(63, 63, 63);
    color: rgb(241, 255, 40);
    border: 1px solid rgb(241, 255, 40, 0.7);
    border-radius: 5px;
}
.telegram_sign_up, .email_sign_up{
    display: none;
}
.telegram_sign_up > status, .email_sign_up > status, .loginer > div > status, .field_name > .status{
    color: rgb(0, 230, 0);
    margin-left: 10px;
    font-size: medium;
}
