<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TR Chat</title>
    <!-- Styles -->
    <link rel="stylesheet" href = "/resource?name=index.css"></style>
    <link rel="stylesheet" href = "/resource?name=header_and_loginner.css"></style>
</head>
<body>
    <!-- workplaces -->
    <div class="workplaces">
        <h2>
            Workplaces
            <button onclick="show_workplaces_adder()" class="add_workplace" >+</button>
        </h2>
        <div class="workplaces_area">
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button onclick="add_workplace()">add</button>
        </div>
    </div>
    <!-- chanels -->
    <div class="channels">
        <h3>
            Channels
            <button onclick="show_workplaces_adder()" class="add_channel" >+</button>
        </h2>
        <div class="channels_area">
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button>Any Name</button>
            <button onclick="addSomeThingToWorkplaces()">add</button>
        </div>
    </div>
    <!-- chat -->
    <div class="chat">
        <h3>Channel Name</h3>

        <div class="chat_area">
            <messages class="messages">
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>
                <name>Egor</name>
                <time>17:26</time><br>
                <text>Hi!</text><br>
                <name>Ann</name>
                <time>17:28</time><br>
                <text>Hello, word!</text><br>
                <name>Egor</name>
                <time>17:29</time><br>
                <text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos cum dolore, corporis porro voluptas voluptate sit dolor odio commodi ea sed eius nisi odit repellat dolorem eos illo officia!</text>
                <br>

            </messages>
        </div>
        <div class="send_area">
            <input type="text">
            <button><img src="/resource?name=send.png" alt="Send"></button>
        </div>
    </div>
   
    <!-- header -->
    <header-shadow></header-shadow><header>
        <a href="/">
            <img class="logo" src = "/resource?name=logo_without_background.png" alt="logo">
        </a>
        <img class="avatar" id = "avatar_in_header" src="/avatar?name=default_avatar2.png" alt="avatar" onclick="show_acc_panel()">
        <div class="buttons" id = "log_in_buttons">
            <input class="log" type="button" value="Log in" onclick="show_login_panel()">
            <input class="sign" type="button" value="Sign up" onclick="show_signup_panel()">
        </div>
        <div class="acc_panel">
            <input class="with_bottom_border" type="button" value="Profile">
            <input class="with_bottom_border" type="button" value="Notification">
            <input type="button" value="Log Out">
        </div>
   </header>
    <!-- loginer -->
   <div class="loginer">
        <button onclick="show_login_panel(false)"></button>
        <div>
            <h2>Log in</h2>
            <h4 class="field_name">Login</h4>
            <input class="field" type="text">
            <h4 class="field_name">Password</h4>
            <input class="field" type="password">
            <br>
            <button class="get_code">Get verification code</button>
            <h4 class="field_name">Verification code
                <note>(format AB1C2)</note>
            </h4>
            <input class="field" type="text">
            <br><br>
            <button class="final_button">Log in</button>
            <br><br>
        </div>
    </div>
    <!-- registrator -->
    <div class="registrator">
        <button onclick="show_signup_panel(false)"></button>
        <div>
            <h2>Sign up</h2>
            <h4 class="field_name">Login <err class="errors" id="reg_login_err"></err></h4>
            <input class="field" id="reg_login" type="text">
            <h4 class="field_name">NickName <err class="errors" id="reg_nickname_err"></err></h4>
            <input class="field" id="reg_nickname" type="text">
            <h4 class="field_name">Password <err class="errors" id="reg_password1_err"></err></h4>
            <input class="field" id="reg_password1" type="password">
            <h4 class="field_name">Confirm password  <err class="errors" id="reg_password2_err"></err></h4>
            <input class="field" id="reg_password2" type="password">
            <br><br>
            <button onclick="show_telegram_verif()">Sign up with Telegram</button>
            <button onclick="show_email_verif()">Sign up with Email</button>
            
            <div class="telegram_sign_up">
                <h4 class="field_name">Authentication code
                <note>
                    (You can use
                    <a style="color: white;" href="https://t.me/TR_chat_Authentication_bot" target="_blank">my bot</a>
                    for getting it (format 123456789))
                </note>
                <err class="errors" id="reg_auth_code_tg_err"></err>
                </h4>
                <input class="field" id="reg_auth_code_tg" type="text">
                <button class="get_code" onclick="getVerifCode()">Get verification code</button>
                <status id="get_code_status_tg"></status>
                <h4 class="field_name">Verification code
                    <note>(format AB1C2)</note>
                    <err class="errors" id="reg_verif_tg_err"></err>
                </h4>
                <input class="field" id="reg_verif_code_tg" type="text">
                <br><br><br>
                <button class="final_button" onclick="createAccount()">Create an account</button>
            </div>  
            
            <div class="email_sign_up">
                <h4 class="field_name">Email <err class="errors" id="reg_auth_code_email_err"></err></h4>
                <input class="field" id="reg_auth_code_email" type="text"> 
                <button class="get_code" onclick="getVerifCode()">Get verification code</button>
                <status id="get_code_status_email"></status>
                <h4 class="field_name">Verification code
                    <note>(format AB1C2)</note>
                    <err class="errors" id="reg_verif_email_err"></err>
                </h4>
                <input class="field" id="reg_verif_code_email" type="text">
                <br><br><br>
                <button class="final_button" onclick="createAccount()">Create an account</button>
            </div>
            <br><br>
        </div>

    </div>
    <!-- workplace adder -->
    <div class="adder_workplace">
        <button onclick="show_workplaces_adder(false)" class="bg_close_button"></button>
        <div>
            <h2>Create new workplace</h2>
            <h4 class="field_name">Unique workplace name</h4>
            <input class="field" type="text">
            <br><br><br>
            <button class="final_button">Create</button>
            <br><br>
        </div>
    </div>
</body>
<!-- Scripts -->
<script src="/resource?name=index.js"></script>
<script src="/resource?name=header_and_loginner.js"></script>
</html>