<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join to workplace</title>
    <link rel="stylesheet" href = "/resource?name=join.css">
</head>
<body>
    <div id="id" style="display: none;">{{workplace_id}}</div>
    <div class="window">
        <h4 id="question">Do you want to join this workplace?</h4>
        <button class="button" onclick="join()">Ok</button>
        <button class="button" onclick="goToMain()">Cancel</button>
        <br><br>
    </div>
</body>
<!-- Scripts -->
<script src="/resource?name=join.js"></script>
</html>